<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <button type="submit" name="user" value="Librarian">Login as Librarian</button>
        <br />
        <br />
        <button type="submit" name="user" value="Student">Login as Student</button>
    }
</body>
</html>
